{% extends 'partials/base.html '%}
{% load static %}
{% block title %} Password Reset Page {% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-7 offset-md-2">
            <div class="card my-3 shadow" style="height: 300px;">
                <div class="card-body" style="background-color: purple;">
                    <h4 style="color: white;">Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter Email and an email will be sent to you with instructions
                    </div>
                    <form method="POST" style="color:white;">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-primary btn-block"
                               type="submit"
                               value="Reset Password">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}